/*
 Fichier modifier par David Champagne
 le 2020-06-13
 */


hr{
    border-top: 2px solid rgb(185, 195, 70);
}
li a{
    color: white;
    font-family: cinzel;
}
a:hover{
    color: #11a30e;
}

.sous-titre{
    padding-bottom: 10%;
    padding-top: 24%;
}
.separation{
    background-image: url("../img/hyrule_rule.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2%;
}
.zelda {
    font-size: 5rem;
}

.graphiques{
    background-color: black;
}

.list-group-item{
    background-color: #d9a936;
    border: 2px solid rgb(9, 60, 25);
}
.form-control{
    color: #FFFFFF;
    background-color: #ceb373ad;
    border: 2px solid rgb(255, 255, 255);
}


/* CSS Perso */

/* Header */

.backgroundimage {
    background-image: url("../img/banniere.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* Le body */

body{
    background-color: #234f30;
    background-image: url("../img/pattern-triforce-2x.png");
    background-repeat: repeat;
    background-position: center;

}

/* Modification des H1 */

@font-face {
    font-family: CinzelDecorative;
    src: url(../font/CinzelDecorative-Bold.ttf);
}

h1{
    font-family: CinzelDecorative;
    color: #FFFFFF;
    text-shadow: 0 0 4px black;
}

/* Liens du haut */
header a{
    text-decoration: underline #FFFFFF;
    color: #FFFFFF;
    font-size: 1.5rem;
}
/* Effet hvr-grow */

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Barre de recherche */
::placeholder {
    color: white !important;

}




