.formulaire{
    border: 4px solid #000000;
    background-color: #1C1D1F;
    font-size: small;
}
body{
    background-color: #000000;
    color: #ffffff;
}
.hr{

    background-color: #ffffff;
    color: #ffffff !important;
}
.red{
    color: #B51824;
}
#mars{
    border: 2px solid #000000;
    background-color: #000000;
}
span{
    color: #B51824;
}
.destination{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 35px;
}
.bouton{
    color: gray;
}
#paypal-button-container{
    size: 320px;
    text-align: center;
    margin-left: 3em;
    padding-top: 5em;
}