body,html{
background-color: rgb(16,16,16);
background-image: none;

}

ul, li{
    list-style-type: none;
}
li {
    display: inline;
}
.fallback-text{
    opacity: .1;
}
.lyrics {
    text-shadow: 5px 5px black;
}




