body, html{
    height: 100%;
    background-image: url("../img/microphone-2130806_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg {
    /*background: rgba(40, 40, 40, .7);*/
    background: rgba(20,129,58, .9);

}
.bg-btn{
    background-color: #000000;
    border-width: .5em;
}
hr{
    border-width: .2em;
    color: green;
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);

}

