header a{
    color: #000000;
    text-transform: uppercase;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
header a:hover{
    color: darkblue;
}
#jstype-submit{
    display: inline;

}
#examenciti_form{
    width: 80%;
    display: inline;
}
.Lettres{
    background-color: black;
    border: 1rem solid #ffffff;
}
.monMot{
    background-image: url("../background/noir.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 3rem;
}

.photoimg{
    border: 0.2rem solid white;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    color: black;
    background-color: black;
}
ul li{
    margin: 0 auto;
    padding: 0;
    display: inline-flex;
}

.couleurDeFond{
display: none;
}
ul{
    padding: 0;
}