header a{
    color: #000000;
    text-transform: uppercase;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
header a:hover{
    color: darkblue;
}
#jstype-submit{
    display: inline;

}
#examenciti_form{
    width: 80%;
    display: inline;
}
.Lettres{
    background-image: url("../background/noir.jpg");
    background-color: #000000;
}
.photoimg{
    border: 0.5em solid white;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    color: black;
    background-color: black;
}