header a{
    color: #000000;
    text-transform: uppercase;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
header a:hover{
    color: darkblue;
}
#jstype-submit{
    display: inline;

}
.current{
    border-style: dashed;
    border-color: #0056b3;
    display: flex;
}
#examenciti_form{
    width: 80%;
    display: inline;
}
.Lettres{
    border: 1rem solid #ffffff;
    padding: 4em;
}
.Lettres img{
    text-align: center;
    display: flex;
    justify-content: center;
}
.monMot{
    background-image: url("../background/noir.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 2em;
}
.nouvelleCouleur{
}
.current{
    border-style: ridge;
    border-color: #1b1e21;
    padding: .2rem;
    transition-delay: inherit;
}

.photoimg{
    border: 0.2rem solid white;
}
.img-fluid{
    border: 2px solid white;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    color: black;
    background-color: black;
}
ul li{
    margin: 0 auto;
    padding: 0;
    display: inline-flex;
}

.couleurDeFond{
display: none;
}
ul{
    padding: 0;
}