header a{
    color: #000000;
    text-transform: uppercase;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
header a:hover{
    color: darkblue;
}
#jstype-submit{
    display: inline;

}
#examenciti_form{
    width: 80%;
    display: inline;
}
.Lettres{
    background-image: url("../background/noir.jpg");
    background-color: #000000;
}
.photoimg{
    border: 1em solid white;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    color: black;
    background-color: black;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
    left: 0;
}
.owl-nav button.owl-next {
    right: 0;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}
.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}
.owl-dots button.owl-dot.active {
    background-color: #000;
}
.owl-dots button.owl-dot:focus {
    outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
span {
    font-size: 70px;
    position: relative;
    top: -5px;
}
.owl-nav button:focus {
    outline: none;
}