/*
Section Body
 */

body{
    width: 1000px;
    background-image: url('../img/etoileMort.jpg');
    background-repeat: no-repeat;
    background-color: #000000;
    margin: auto;
}

@font-face {
    font-family: Starjedi;
    src: url("../font/Starjedi.ttf");
}

/*
Section des titres H1-H5
 */

h1{
    font-size: 141px;
    color: yellow;
    text-align: center;
    font-family: "Starjedi", sans-serif;
    margin: 0;
}

h2,h3,h4{
    color: white;
    text-align: center;
}
h2{
    font-size: 72px;
}
h3{
    font-size: 60px;
}
h4{
    font-size: 44px;
}

/*
Section paragraphes
 */
p{
    text-align: justify;
    color: white;
    font-size: 16px;
}

/*
Section images
 */
img{
    display: block;
    margin: auto;
}

/*
 Section Nav
 */
nav ul,li{
    list-style-type: none;
}
nav li a{
    color: white;
}
/*
 Classes générales
*/
.films{
    color: yellow;
}

