body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  background-color: #f3f2f2;
}
#mes_realisations, #me_joindre{
  margin-top: 1rem;
  border: .2rem solid #202529;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Josefin Sans', sans-serif;
}

code {
  font-family: 'Open Sans', sans-serif;
}

.hero{
  height: 70vh;
  z-index: 999;
  background-color: #202529;
}
.hero::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 70vh;
  top: 0;
  left: 0;
  background-color: rgba(37, 46, 53, 0.9);
}
.bg-hero{
  height: 70vh;
  background: no-repeat center;
  background-size: cover;
}

.bg-text h6{
  padding-top: 1rem;
}
.bg-text h2{
  padding-bottom: .5rem;
}
.bg-text h2:after{
  content: "";
  display: block;
  margin: 0 auto; /* Pour center la bordure */
  width: 50%; /* Largeur de la bordure */
  padding-top: 2rem;
  border-bottom: .1rem solid #f3f2f2;
}

footer{
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  border-top: 1px solid rgba(255,255,255,0.1);
  height: auto;
  background-color: #202529;
  padding: 2em;
  margin-top: 4rem;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

/* Section Portfolio */

#realisations{

}
.bg_photo{
  background-color: whitesmoke;

}

.bg_realisations{
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-content: center;
  background-color: white;
}


