ul li{
    list-style-type: none;
    display: inline;
    padding: 0.8em;
}
ul li a{
    text-decoration: none;
    color: black;
}
ul{
    text-align: center;
}
a.top{
    color: red;
    text-decoration: none;
}
nav{
    text-align: center;
}
img{
    max-width: 20%;
}
.liens{
    float: left;
    text-align: left;
}
.top{
    float: right;
}
img{
    text-align: center;
}
img.monimage{
    max-width: 20%;
}
.img_haut{
    text-align: center;
    padding-bottom: 3em;
}
h5{
    text-align: center;
}
.h1_haut{
    text-align: center;
    font-size: 0.8em;
}
h3{
    text-align: center;
    font-size: 0.8em;
    margin: 2em;
    padding: 2em;
}
.mes_images{
    text-align: center;
}