body{
    width: 980px !important;
    margin: 0 auto !important;
    background: url("https://i.imgur.com/830F2Ou.jpg") no-repeat center center fixed !important;
    display: block;
    height: auto;
    float:inherit;
}
/* Le nav pour la navigation */

nav{
    text-align: center;
}
/* Les sections */
#section_etudes{
    background-color: #F2F2F2;
}
#section_loisirs{
    background-color: #ffe6f2;
}
#section_sport{
    background-color: azure;
}
#section_reves{
    background-color: aliceblue;
}
/* Arrière-plan */
.bg{
    background-color: #FAFAFA;
    opacity: 70%;
}
/* Les grandeurs de H */
h1, h2{
    font-size: 2.25rem;
    color: #000000;
    text-align: center;
}
h5{
    text-align: center;
}
.h1_haut{
    text-align: center;
    font-size: 1em;
}
h3{
    text-align: center;
    font-size: 0.8em;
    margin: 2em;
    padding: 2em;
}
/* Les span */
.span {
    text-align: center;
}

/* Les paragraphes */
p{
    font-size: 0.875rem;
    text-align: justify;
    color: #000000;
}
/* Les tables */
table th{
    /*border: 0.625rem solid #000000;*/
}
table td{
    color: #020454 !important;
}
/* Les listes et tabulations ul li */
ul li{
    list-style-type: none;
    display: inline;
    padding: 0.8em;
    font-size: 1rem;
    /*color: #87CEFA !important;*/
}
li.list-group-item{

}
ul{
    text-align: center;
}
/* Les liens a*/
a.top{
    color: #87CEFA;
    text-decoration: none;
}
a{
    color: #87CEFA;
}
a:visited{
    color: 	#00008B;
}
a:hover{
    text-decoration: underline;
}
.liens{
    float: left;
    text-align: left;
}
.top{
    float: right;
}
/* Les images */
.belleImage{

}
img{
    text-align: center;
    width: 18.75rem;
    border: 1px solid #dddddd !important;
    border-radius: 4px !important;
}
img:hover{
    box-shadow: 0.625rem 0.625rem 0.625rem #000000;
}
img.monimage{
    max-width: 15%;
}
.img_haut {
    text-align: center;
    padding-bottom: 3em;
}
.mes_images{
    text-align: center;
}