body {
    width: 980px !important;
    margin: 0 auto !important;
    background: url("https://i.imgur.com/830F2Ou.jpg") !important;
    background-repeat:no-repeat;
    display: block;
    height: auto;
    float:inherit;
    opacity: 90%;
}
.bg{
    background-color: #ffffff;

}
h1{
    font-size: 2.25rem;
}
h2{
    font-size: 1.5rem;
}
h1,h2{
    color: #696969;
    text-align: center;
}
p{
    font-size: 0.875rem;
    text-align: justify;
    color: #f12345;
}
table th{
    border: 0.625rem solid #000000;
}
table td{
    color: #020454 !important;
}
ul li{
    list-style-type: none;
    display: inline;
    padding: 0.8em;
    font-size: 1.5rem;
    color: #87CEFA !important;
}
li.list-group-item{
    border: 0.225rem solid #000000;
}
ul{
    text-align: center;
}
a.top{
    color: #87CEFA;
    text-decoration: none;
}
a{
    color: #87CEFA;
}
a:visited{
    color: 	#00008B;
}
a:hover{
    text-decoration: underline;
}
nav{
    text-align: center;
}
.liens{
    float: left;
    text-align: left;
}
.top{
    float: right;
}
img{
    text-align: center;
    width: 18.75rem;
    border-radius: 0.125rem;
}
img:hover{
    box-shadow: 0.625rem 0.625rem 0.625rem #000000;
}
img.monimage{
    max-width: 15%;
}
.img_haut{
    text-align: center;
    padding-bottom: 3em;
}
h5{
    text-align: center;
}
.h1_haut{
    text-align: center;
    font-size: 1em;
}
h3{
    text-align: center;
    font-size: 0.8em;
    margin: 2em;
    padding: 2em;
}
.mes_images{
    text-align: center;
}
