.hero{
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-content: center;
  text-align: center;
  /*margin-top: -3em;*/

  /*text-align: left;*/
}
.carousel {
  padding: 0;
  border: 2px solid #24292e;
}

